<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= data.page.title || "Styleguide" %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Styleguide">
    <meta name="author" content="Your Company Name">

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
</head>
<body class="<%= page_classes %>" data-spy="scroll" data-target=".dgl-sidebar">
    <header class="dgl-header">
        <div class="dgl-wrapper">
            <div class="dgl-logo">
                <!-- styleguide logo here -->
            </div>
            <div class="dgl-nav">
                <!-- navigation here -->
            </div>
        </div>
    </header>
    <div class="dgl-wrapper">
        <div class="dgl-row">
            <div class="dgl-sidebar">
                <small>
                    Side panel here, not yet done.
                </small>
                <!--
                <ul>
                    <li><a href="#dummy_1">Dummy 1</a></li>
                    <li><a href="#dummy_2">Dummy 2</a></li>
                    <li><a href="#dummy_3">Dummy 3</a></li>
                </ul>
                -->
            </div>
            <div class="dgl-main">
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
